<div class="d-flex-column">
  <section class="container d-flex-column">
    <img src="./assets/weather.svg" alt="cart-icon" />
    <form>
      <div class="inp-container">
        <img src="./assets/user-icon.svg" alt="user icon" />
        <input class="inp" type="text" name="name" placeholder="Username" />
      </div>
      <div class="inp-container">
        <img src="./assets/lock-icon.svg" alt="user icon" />
        <input class="inp" type="password" name="password" placeholder="Password" />
      </div>
      <button class="btn">Login</button>
    </form>
  </section>
</div>
